body{
  background-color: #f0f8ff!important; 
  background-image: url(image/wave\ \(1\).svg);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 width: 100%;
 height: 50vh;
}
/* .backgrounCover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
} */
img{
    width: 25%;
    border-radius: 50%;
    margin-top: -40px;
}

.container{
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container i{
    color: rgb(0, 0, 255);
}